@use '../Variables' as *

.player--page
    width: 70dvw
    position: absolute
    left: 250px

.player-cover
    width: 250px
    height: 250px
    border-radius: 17px

    &-icon
        width: 150px
        height: 150px
        stroke: $white--secondary

    position: relative 
    left: 40%
    transform: translateX(-40%)
    margin: 25px

.non-cover
    background-color: $accent
    display: flex
    justify-content: center
    align-items: center


.player-song-name
    text-align: center

.control-btn
    @include reset-btn()
    width: 40px
    height: 40px
    margin: 0 auto

    cursor: pointer
    font-family: 'Nunito', sans-serif

.control-btns
    width: 150px
    margin: 0 auto
    padding: 15px 0px

.previous-btn
    float: left

.play-btn
    position: absolute
    left: 50%
    transform: translateX(-50%)

.next-btn
    float: right

.duration-controller
    width: 45dvw
    position: relative 
    left: 60%
    transform: translateX(-60%)

    &-range
        width: 75%
        padding: 15px 0px
        accent-color: $accent
        color: $main
        border:
            bottom-color: $main
            left-color: $main

        &:focus
            accent-color: $accent

.duration-label
    position: relative
    bottom: 17px

.current-duration
    right: 5%

.total-duration
    left: 5%

#volume-range
    accent-color: $accent
    margin-left: 10px

.volume-controller
    width: 100px
    display: flex

.volume-btn
    border: none
    background: $invise
    transform: translateY(2px)

.volume-icon
    width: 22px