@use '../Variables' as *
@use '../General' as *


.player--page
    & > #label, & > #artist
        color: var(--player-font-color)

.player-cover
    width: 250px
    height: 250px
    border-radius: 17px
    margin: 25px auto

    &-icon
        width: 150px
        height: 150px
        stroke: var(--player-cover-icon-stroke-color)
        margin: 50px


.non-cover
    background-color: var(--player-non-cover-background-color)

.control-btn
    @include reset-btn()
    width: 40px
    height: 40px
    margin: 0 auto

    cursor: pointer
    font-family: 'Nunito', sans-serif

.control-btns
    width: 150px
    margin: 0 auto
    padding: 15px 0px

    display: flex

.previous-btn
    align-self: flex-start
    color: var(--player-font-color)

.play-btn
    align-self: center
    color: var(--player-font-color)

.next-btn
    align-self: flex-end
    color: var(--player-font-color)

.duration-controller
    display: flex
    width: 45dvw
    margin: 0 auto

    &-range
        width: 75%
        padding: 15px 0px

        &:focus
            accent-color: var(--player-accent-color)

.duration-label
    position: relative
    top: 12px

.current-duration
    right: 5%
    color: var(--player-font-color)

.total-duration
    left: 5%
    color: var(--player-font-color)

.bottom-panel
    width: 70%
    position: absolute
    bottom: 1%
    display: flex
    justify-content: center

#volume-range
    accent-color: var(--player-accent-color)
    margin-left: 10px
    width: 100px

.volume-controller
    width: fit-content
    display: flex

.volume-btn
    border: none
    background: opacity(0)
    transform: translateY(2px)

.volume-icon
    width: 22px
    color: var(--player-font-color)

input[type="range"]
    appearance: none
    width: 100%
    background: transparent
    cursor: pointer

    /* --- Webkit Browsers --- */
    &::-webkit-slider-runnable-track
        height: 10px
        background: linear-gradient(to right, var(--player-accent-color) var(--range-pct, 0%), var(--player-secondary-color) var(--range-pct, 0%))
        border-radius: 40px
        border: 2px solid var(--player-border-color)
        box-shadow: 0px 2px 0px opacity(10)

    &::-webkit-slider-thumb
        -webkit-appearance: none
        height: 20px
        width: 20px
        background: lch(from var(--player-accent-color) 75 c h)
        border-radius: 30px
        border: 5px solid var(--player-accent-color)
        box-shadow: 0px 4px 0px opacity(30)
        margin-top: -8px

    /* --- Firefox --- */
    &::-moz-range-track
        height: 10px
        background: linear-gradient(to right, var(--player-accent-color) var(--range-pct, 0%), var(--player-secondary-color) var(--range-pct, 0%))
        border-radius: 40px
        border: 2px solid var(--player-border-color)
        box-shadow: 0px 2px 0px opacity(10)

    &::-moz-range-thumb
        height: 24px
        width: 24px
        background: #475569
        border-radius: 30px
        border: 6px solid var(--player-border-color)
        box-shadow: 0px 4px 0px opacity(30)
