@use '../Variables' as *
    
.profile 
    user-select: none
    width: 70dvw
    height: 100%
    position: absolute
    left: 50vw
    margin-left: 275px
    transform: translateX(-50vw)

    &-avatar 
        width: 100px;
        border-radius: 50%;

        position: relative;
        left: -3%;

        z-index: 1;
        top: 15%;

        border: 5px solid #fff;


.nickname 
    position: relative
    left: -5%
    top: 17%

    z-index: 1

    border: 1px solid #fff
    padding: 5px 10px
    background-color: #fff
    border-radius: 10px
    margin-left: 25px

    &:hover
        cursor: pointer


.header 
    position: absolute
    width: 500px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;


.banner 
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;

    z-index: 0;

    position: absolute;
    top: -15px;


.recent 
    position: absolute;

    width: 500px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 50%;
    transform: translateX(-50%);
    top: 15%;


    &-label 
        position: relative;
        left: -30%;
        top: 10%;


.body 
    width: 100%;

.nickname-edit
    margin-top: 65px
    z-index: 100

    &-field
        height: 50px
        width: 250px
        font:
            size: 25px
            family: 'Nunito', sans-serif
            weight: bold

        letter-spacing: 5%
        border: none
        padding-left: 10px
        border: 5px solid $main
            radius: 7px

        &:focus
            outline: none

    &-btn
        position: absolute
        height: 50px
        width: 50px
        font-size: 20px
        right: 35px

        border: none
        background-color: $invise

        background-color: $main
        border: 5px solid $main
            radius: 7px

        color: #fff

.hide
    display: none
    