$bg--primary: #1a1814
$bg--secondary: #26231e
$main: #504732
$secondary: #ff9393
$accent: #ee7d7d

$black--primary: #15161e
$black--secondary: #414868

$blue--primary: #7aa2f7
$blue--secondary: #c2d1fd

$cyan--primary: #7dcfff
$cyan--secondary: #7dcfff

$green--primary: #9ece6a
$green--secondary: #b9f27c

$purple--primary: #9d7cd8
$purple--secondary: #bb9af7

$red--primary: #f7768e
$red--secondary: #f19dac

$white: #fff
$white--primary: #e6e6e9
$white--secondary: #eff2fd

$yellow--primary: #e0af68
$yellow--secondary: #e0af68

.Musicore[data-theme="beach"][data-lightness="dark"]
    --background: #{$bg--primary}
    --scroll-color: #424242

    // ---------- WINDOW DECORATIONS ----------
    --wd-btns-icon-color: #{$white}
    --wd-minimize-icon-hover-color: #424242
    
    // ---------- SIDEBAR ----------
    --sidebar-text--primary: #{$yellow--secondary}
    --sidebar-text-hover-color: #{$white}

    --sidebar-logo-fill-color: #{$secondary}
    --sidebar-logo-main: #dfdfdf
    --sidebar-logo-secondary: #747474

    --sidebar-background: #{$bg--secondary}

    --sidebar-icon-color: #{$yellow--primary}
    --sidebar-icon-hover-color: #{$white--secondary}
    --sidebar-icon-hover-fill-color: #{$white--primary}
    --sidebar-icon-hover-background-color: #{$secondary}
    --sidebar-icon-background-color: #{$bg--secondary}

    --sidebar-menu-item-color: #{$accent}

    --sidebar-profile-username-color: #{$white--secondary}
    --sidebar-profile-username-hover-color: #{$accent}

    --sidebar-active-color: #{$main}

    // ---------- SONG COMPONENTS ----------
    --song-background-color: #{$bg--secondary}

    --song-text--primary: #{$yellow--primary}
    --song-text--secondary: #{$yellow--secondary}
    --song-text--secondary-hover: #{$red--primary}

    --song-non-cover-color: #{$accent}
    --song-non-cover-icon: #{$white--secondary}

    // ---------- PROFILE -----------
    --profile-accent: #{$bg--secondary}
    --profile-nickname: #{$white}
    