$dark-bg--primary: #1a1814
$dark-bg--secondary: #26231e
$dark-main: #504732
$secondary: #ff9393
$accent: #ee7d7d

$black--primary: #15161e
$black--secondary: #414868

$blue--primary: #7aa2f7
$blue--secondary: #c2d1fd

$cyan--primary: #7dcfff
$cyan--secondary: #7dcfff

$green--primary: #9ece6a
$green--secondary: #b9f27c

$purple--primary: #9d7cd8
$purple--secondary: #bb9af7

$red--primary: #f7768e
$red--secondary: #f19dac

$white: #fff
$white--primary: #e6e6e9
$white--secondary: #eff2fd

$yellow--primary: #e0af68
$yellow--secondary: #e0af68