@use "./Variables" as *

::-webkit-scrollbar
    height: 5px
    width: 5px

::-webkit-scrollbar-track
    background-color: #f1f1f1

::-webkit-scrollbar-thumb
    background-color: #888

    &:hover
        background-color: #555
        width: 7px
        transition: .1s background-color, .1s width

.app
    display: grid
    height: 100vh
    overflow-x: hidden
    overflow-y: auto
    grid-template-columns: auto 1fr
    grid-template-rows: 100dvh

    #sidebar
        height: calc( 100vh )
        position: sticky
        top: 0
        left: 0
        margin: 0
        padding: 0

    .Page
        height: 100vh
        padding-top: 15px
        padding-left: 25px

body
    background-color: $bg--primary

*
    margin: 0
    padding: 0
    box-sizing: border-box
