
%btn
    border: none
    background-color: transparent

%input
    border: none
    outline: none

    &:focus
        outline: none

@function opacity($percent)
    $value: rgba(0,0,0, calc($percent/100))
    
    @return $value