@use './Variables' as *

.song-list
    width: 90%
    height: calc( 100% + 1em )

    margin-left: 50%
    transform: translateX(-50%)

.song
    position: relative
    text-decoration: none
    color: $yellow--primary

    display: flex
    align-items: center
    gap: 20px
    width: 100%
    height: 125px

    background-color: $bg--secondary

    margin-top: 20px
    padding: 10px 15px

    border-radius: 7px

    &-cover
        position: absolute
        width: 100px
        margin-top: 5px

    &-info 
        width: 70%
        margin-left: 125px
        margin-top: 15px
        flex: 1
        min-width: 0

    &-artist 
        margin-top: 5px

    &-duration 
        flex-shrink: 0
        align-self: stretch
        display: flex
        align-items: center
        margin-right: 10px

    &:hover &-title
        color: $secondary
        transition: color .1s

.none-song-cover
    width: 100px
    height: 100px
    position: absolute
    background-color: $accent
    margin-top: 5px
    border-radius: 7px
    display: flex
    justify-content: center
    align-items: center

    &-icon 
        width: 50px
        height: 50px
        stroke: $white--secondary
        
