@use './Variables' as *

.song-list
    width: 90%
    height: inherit

    padding-bottom: 20px
    margin: 0 auto

.song
    position: relative
    text-decoration: none
    color: var(--song-text--secondary)

    display: grid
    grid-template-columns: 100px 7fr 1fr
    gap: 20px
    width: 100%
    height: 125px

    background-color: var(--song-background-color)

    margin-bottom: 25px
    padding: 10px 15px

    border-radius: 7px

    &-title 
        color: var(--song-text--secondary)
        margin-left: 0
        text-decoration: none
        font-size: 20px
        font-weight: bold
        transition: color .1s
        text-align: left

        &:hover
            color: var(--song-text--secondary-hover)

    &-cover
        width: 100px
        margin-top: 5px

    &-info
        width: 100%
        margin: auto

    &-artist 
        margin-top: 7px

    &-duration
        margin: auto

    &:first-child
        margin-top: 20px

.none-song-cover
    width: 100px
    height: 100px
    background-color: var(--song-non-cover-color)
    margin-top: 5px
    border-radius: 7px
    display: flex
    justify-content: center
    align-items: center

    &-icon 
        width: 50px
        height: 50px
        stroke: var(--song-non-cover-icon)
        
