@use './Variables' as *

$duration: 300ms

#sidebar
    height: calc(100dvh + 1em)
    background-color: $bg--secondary
    margin: 0
    padding: 0
    box-sizing: border-box
    margin:
        left: -10px
        top: -10px

    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

    user-select: none
    color: $yellow--primary
    transition: width $duration

    z-index: 110

    width: 235px
    overflow: hidden

    .user-mini
        display: none

    .stroke, .user-mini > path
        stroke: $yellow--primary

    .fill
        fill: $yellow--primary

#switcher
    left: 200px
    z-index: 110

#switcher > path
    fill: $yellow--primary

#switcher.show
    transform: rotate(180deg)
    transition: left $duration

#switcher
    position: absolute
    z-index: 110
    top: 10px

#switcher.hidden
    left: 16px

#sidebar.hidden
    width: 45px
    overflow: hidden

    .menu-label,
    .sidepanel-profile
        display: none

    .sidepanel--icon
        transform: translateX(-35px)
        transition: transform $duration

    .menu
        width: 40px
        transition: width $duration

    .logo
        margin-left: 50px

    .user-mini
        position: absolute
        bottom: 2%
        width: 20px
        left: 12px

    .sidebar--icon
        transform: translateX(-25px)

    .menu-item
        width: 150%

    .sidebar--settings
        left: 7%

.logo
    width: 150px
    height: 52px
    margin:
        top: 25px
        bottom: 25px

    fill: $secondary

.menu
    width: 235px

.menu-item
    font:
        size: 20px
        family: 'Nunito', sans-serif
        style: normal

    margin-bottom: 14px
    padding-left: 40px

    list-style: none
        position: inside

    letter-spacing: 0.15em
    padding:
        bottom: 5px
        top: 5px

    transition: background-color .1s
    border-radius: 17px
    padding-bottom: 3px

    &-label
        text-decoration: none
        color: $yellow--secondary !important

        position: absolute
        left: 70px
        margin-top: 3px

        width: 170px

        &:visited
            color: $black--primary

    &:hover .fill
        fill: #fff !important

    &:hover .stroke
        stroke: #fff !important

    &:hover &-label
        color: #fff !important

    &:hover
        background-color: $secondary
        cursor: pointer

.active
    background-color: $main

.icon
    color: $yellow--primary
    stroke: $yellow--primary

    &-fill
        fill: $yellow--primary

    .menu-item:hover &
        color: $white--secondary
        stroke: $white--secondary

        &-fill
            fill: $white--primary

.sidebar--bottom-panel
    display: flex
    position: fixed
    bottom: 1%
    width: inherit
    align-items: center
    justify-content: space-between
    overflow: hidden

.sidepanel-profile
    align-self: flex-start
    display: inline-block
    position: absolute
    width: 175px
    margin-top: -20px
    height: 30px
    padding: 5px 10px
    margin-left: 15px

.sidebar--icon
    transform: translateY(3px)

.sidepanel-avatar
    width: 30px
    border-radius: 50%

.sidepanel-username
    position: relative
    left: 10%
    bottom: 50%

    font:
        size: 17px
        weight: bold

    color: $black--primary
    letter-spacing: 5%

    &:hover
        color: $accent
        transition: color .1s

.sidebar--settings
    outline: none
    border: none
    transition: background-color .1s
    background-color: $bg--secondary
    color: $yellow--primary
    border-radius: 5px
    width: 30px
    height: 30px
    margin-right: 7px
    z-index: 10

    &-icon
        width: 100%

    &:hover
        background-color: $secondary

        &-icon
            fill: #fff

    &:hover &-icon > path
        color: #fff !important
