@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100..800 1,100..800&display=swap"


/// Main colors
$bg--primary: #FFFBF1
$bg--secondary: #f3edde


$main: #FFF2D0
$secondary: #FFB2B2
$accent: #E36A6A

// Addition colors
$black--primary: #15161e
$black--secondary: #414868

$blue--primary: #7aa2f7
$blue--secondary: #c2d1fd

$cyan--primary: #7dcfff
$cyan--secondary: #7dcfff

$green--primary: #9ece6a
$green--secondary: #b9f27c

$purple--primary: #9d7cd8
$purple--secondary: #bb9af7

$red--primary: #f7768e
$red--secondary: #f19dac

$white--primary: #e6e6e9
$white--secondary: #eff2fd

$yellow--primary: #e0af68
$yellow--secondary: #e0af68

/// Additional variables
$invise: rgba(0,0,0,0)

*
    font-family: 'Nunito', sans-serif


@mixin reset-btn()
    border: none
    background-color: $invise

    &:focus
        outline: none
    