@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100..800 1,100..800&display=swap"

:root
    /// Main variables
    $main: #bfbfbf !global
    $secondary: #d9d9d9 !global
    $accent: #fbd08a !global

    /// Additional variables
    $invise: rgba(0,0,0,0) !global
    $radius: null

*
    font-family: 'Nunito', sans-serif