@use './Variables' as *

.close
    width: 40px
    height: 30px

    appearance: none
    background-color: var(--background)
    border: none
    color: var(--wd-btns-icon-color)

    float: right

    &:hover
        background-color: #f00
        border: 1px solid #f00
        transition: background-color .25s, stroke .5s
        cursor: pointer

        .close-btn
            color: #fff

.win-dec
    position: fixed
    user-select: none
    width: 100%
    height: 30px

    z-index: 100

.minimize
    border: none
    appearance: none
    background: var(--background)
    border-bottom-left-radius: 7px 

    position: absolute
    right: 40px

    width: 40px
    height: 30px

    color: var(--wd-btns-icon-color)
    &-btn:hover 
        cursor: pointer

    &:hover
        border: 1px solid var(--wd-minimize-icon-hover-color)
        background-color: var(--wd-minimize-icon-hover-color)
        transition: background-color .25s
