@import "./Variables.css";

.playlists {
    width: 500px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;

    gap: 10px;
}

.playlist {
    width: 100%;
    height: 50%;

    border: 3px solid var(--second-main);
    background-color: var(--second-main);
    border-radius: 10px;

    flex: 1 1 45%;
}

.playlist-1 .playlist-3 {
    border-color: var(--first-main);
}

.label {
    position: relative;
    left: 7%;
    top: 1%;
}