@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {

  --first-main: #BFBFBF;
  --second-main: #D9D9D9;
  --third-main: #FFFFFF;

  font-family: "Nunito", sans-serif;

}
